/**
 * Reset for admin toolbar links.
 */
.toolbar a {
  --hover-tint: none;
  --active-tint: none;

  cursor: pointer;
  background-image: none;
}

/**
 * Pagination fix to allow ajax use.
 */
.fr-pagination__link[href=""] {
  cursor: not-allowed;
  color: var(--text-disabled-grey);
}

.fr-pagination__link[aria-current="page"] {
  pointer-events: none;
}
