{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% if not label_hidden %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
{% endif %}
{% for item in items %}
  {{ item.content }}
{% endfor %}
