{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
<div data-drupal-messages>
  {% for type, messages in message_list %}
    {% set variant = '' %}
    {% set variant = (type == 'status') ? 'success__sm' : variant %}
    {% set variant = (type == 'warning') ? 'warning__sm' : variant %}
    {% set variant = (type == 'error') ? 'error__sm' : variant %}

    {% for message in messages %}
      {#
        We ignore 'attributes' because in case of multiple different type
        messages we will have previous messages attributes in the next.
        For example: we have 1st status message then the 2nd error message,
        so we will have the css classes from 1st in the 2nd.
      #}
      {{ pattern('alert', {
        'dismissible': false,
        'message': '<p>'~message~'</p>',
      }, variant) }}
    {% endfor %}
  {% endfor %}
</div>

