{#
/**
 * @file
 * Default template for Consent banner ui pattern.
 *
 * Available variables:
 * - title: Banner title.
 * - text: Banner renderable text.
 * - attributes: HTML attributes.
 *
 * @ingroup themeable
 */
#}
{% if text %}
  <div{{ attributes.addClass('fr-consent-banner') }}>
    {% if title %}<p class="fr-h6 fr-mb-3v">{{ title }}</p>{% endif %}
    <div class="fr-consent-banner__content">
      <p class="fr-text--sm">{{ text }}</p>
    </div>
    {% set buttons = [
      pattern('button', {'label': 'Accept all'|t }),
      pattern('button', {'label': 'Refuse all'|t }),
      pattern('button', {'label': 'Personalize'|t,
        'attributes':
        {'data-fr-opened': 'false', 'aria-controls': 'fr-consent-modal'}
      }, 'secondary')
    ] %}
    {{ pattern('button_group', {
      'attributes': {'class': ['fr-consent-banner__buttons', 'fr-btns-group--inline-sm']},
      'buttons': buttons
    }, 'inline__inline_reverse__right') }}
  </div>
{% endif %}
