{% if variant is not empty and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('fr-btns-group--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

{% if icon_position is not empty %}
  {% set attributes = attributes.addClass('fr-btns-group--icon-' ~ icon_position) %}
{% endif %}

{% if equisized %}
  {% set attributes = attributes.addClass('fr-btns-group--' ~ equisized) %}
{% endif %}

{% if buttons %}
  <ul{{ attributes.addClass('fr-btns-group') }}>
    {% for button in buttons %}
      <li>{{ button }}</li>
    {% endfor %}
  </ul>
{% endif %}
