{% if variant and variant|lower != 'default' and not is_external %}
  {% set attributes = attributes.addClass('fr-link--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}
{% set attributes = attributes.addClass('fr-link') %}
{% if icon and not is_external %}
  {% set attributes = attributes.addClass(icon).addClass('fr-link--icon-' ~ icon_position) %}
{% endif %}
{% if icon_position and not is_external %}
  {% set attributes = attributes.addClass('fr-link--icon-' ~ icon_position) %}
{% endif %}

{% if target %}
  {% set attributes = attributes.setAttribute('target', '_' ~ target) %}
{% endif %}

{% if title %}
  {% set attributes = attributes.setAttribute('title', title) %}
{% endif %}

{% if is_external %}
  {% set attributes = attributes.setAttribute('rel', 'noopener') %}
  {% if not force_internal %}
    {% set attributes = attributes.removeClass('fr-link') %}
  {% endif %}
{% endif %}

{% set url = url|default(attributes.href) %}
<a{{ attributes.setAttribute('href', url) }}>
  {{ label }}
</a>
