{% if items %}
  <div{{ attributes.addClass('fr-skiplinks') }}>
    <nav class="fr-container" role="navigation" aria-label="{{ label }}">
      <ul class="fr-skiplinks__list">
        {% for item in items %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}
