{% if items %}
  <div{{ attributes.addClass('fr-tabs') }}>
    <ul class="fr-tabs__list" role="tablist" aria-label="{{ label }}">
      {% for tab in items %}
        <li role="presentation">
          {{ tab }}
        </li>
      {% endfor %}
    </ul>
    {{ panels }}
  </div>
{% endif %}
